bin/
build
conf/configuration.yaml
SentiStorm.jar

resources/datasets/SemEval2013/svm_problem.txt
resources/datasets/SemEval2013/twitter-dev-gold-B.tsv
resources/datasets/SemEval2013/twitter-train-full-B.tsv
resources/datasets/SemEval2013/twitter-test-gold-B.tsv

resources/dictionaries/FirstNames.txt
resources/dictionaries/Stopwords.txt

resources/dictionaries/sentiment/AFINN-111.txt
resources/dictionaries/sentiment/Bing_Liu.txt
resources/dictionaries/sentiment/MPQA_subjclueslen1-HLTEMNLP05.txt
resources/dictionaries/sentiment/Sentiment140_unigrams_pmilexicon.txt
resources/dictionaries/sentiment/SentiStrength_Data_Sept2011_EmoticonLookupTable.txt
resources/dictionaries/sentiment/SentiStrength_Data_Sept2011_EmotionLookupTable.txt
resources/dictionaries/sentiment/SentiWords_1.0.txt

resources/dictionaries/slang/GATE_slang.en.csv
resources/dictionaries/slang/InternetSlang.txt
resources/dictionaries/slang/NoSlang.txt
resources/dictionaries/slang/SentiStrength_Data_Sept2011_SlangLookupTable.txt

resources/dictionaries/wordnet/wn3.1.dict.tar.gz

resources/models/ark.model.20120919.txt
